[package]
name = "async-openai"
version = "0.14.2"
authors = [
    "Himanshu Neema"
]
categories = ["api-bindings", "web-programming", "asynchronous"]
keywords = ["openai", "async", "openapi", "ai"]
description = "Async bindings for OpenAI REST API based on OpenAPI spec"
edition = "2021"
rust-version = "1.65"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/64bit/async-openai"
repository = "https://github.com/64bit/async-openai"

[features]
default = ["rustls"]
# Enable rustls for TLS support
rustls = ["reqwest/rustls-tls-native-roots"]
# Enable native-tls for TLS support
native-tls = ["reqwest/native-tls"]
# Remove dependency on OpenSSL
native-tls-vendored = ["reqwest/native-tls-vendored"]

[dependencies]
backoff = {version = "0.4.0", features = ["tokio"] }
base64 = "0.21.0"
futures = "0.3.26"
rand = "0.8.5"
reqwest = { version = "0.11.14", features = ["json", "stream", "multipart"],default-features = false }
reqwest-eventsource = "0.4.0"
serde = { version = "1.0.152", features = ["derive", "rc"] }
serde_json = "1.0.93"
thiserror = "1.0.38"
tokio = { version = "1.25.0", features = ["fs", "macros"] }
tokio-stream = "0.1.11"
tokio-util = { version = "0.7.7", features = ["codec", "io-util"] }
tracing = "0.1.37"
derive_builder = "0.12.0"
async-convert = "1.0.0"

[dev-dependencies]
tokio-test = "0.4.2"
